<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 text-center" id="foto-conteiner">
            <img id="foto" src={{persona.img}} alt="" class="img-fluid">
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-4" id="nombre-conteiner">
            <p id="nombre">{{persona.nombre}} {{persona.apellido}} </p>
            <p id="profesion">Full Stack Developer Jr.</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-7 col-lg-6">
            <span>
                <h3>Acerca de mi</h3>
                <p class="sm">{{persona.descripcion}}</p>
            </span>
        </div>
    </div>
    <div class="row">
        <div>
            <button type="button" class="btn btn-dark" routerLink="/editperfil/1" *ngIf="isLogged">
                Editar Perfil
            </button>
        </div> 
    </div>
</div>
